body, html{
	margin: 0;
	padding: 0;
}

body {
	font: 76% arial, sans-serif;
	text-align: center;
}

p {
	margin: 0 10px 10px;
}

a {
	padding: 5px;
	text-decoration: none;
	color: #000000;
}

div#header {
	background-color: #F3F2ED;
}

div#header h1 {
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding-left: 10px;
}

div#container {
	text-align: left;
}

div#content p {
	line-height: 1.4;
}

div#navigation {
	background: #F6F0E0;
}

div#navigation ul {
	margin: 15px 0;
	padding: 0;
	list-style-type: none;
}

div#navigation li {
	margin-bottom: 5px;
}

div#extra {
	background: #CCC8B3;
}

div#footer {
	background: #BFBD93;
}

div#footer p {
	margin: 0;
	padding: 5px 10px;
}

div#container {
	width: 700px;
	margin: 0 auto;
}

div#wrapper {
	
}

div#content {
	float: left;
	width: 500px;
}

div#navigation {
	float: right;
	width: 200px;
}

div#extra {
	float: left;
	width: 500px;
}

div#footer {
	clear: both;
	width: 100%;
}

th,td {
	padding: 0.6em 1.2em 0 0;
	text-align: left;
	vertical-align: top;
}

table {
	padding: 0 20px 10px 20px;
}

table caption {
	display: none;
}

form {
    margin: 30px 0;
}

div.panel1, p.flip1, div.panel2, p.flip2, div.panel3, p.flip3  {
	margin:0px;
	padding:5px;
	text-align:center;
	background:#e5eecc;
	border:solid 1px #c3c3c3;
}

div.panel1, div.panel2, div.panel3 {
	height:120px;
	display:none;
	overflow-y: scroll; 
}

.friend {
	background-color: red;
}

/*chatbox*/

.chat_box{
	position:fixed;
	right:20px;
	bottom:0px;
	width:250px;
}
.chat_body{
	background:white;
	height:400px;
	padding:5px 0px;
}

.chat_head,.msg_head{
	background:#f39c12;
	color:white;
	padding:15px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
}

.msg_box{
	position:fixed;
	bottom:0px;
	right: 5px;
	width:250px;
	background:white;
	border-radius:5px 5px 0px 0px;
	display: none;
}

.msg_head{
	background:#3498db;
}

.msg_body{
	background:white;
	height:200px;
	font-size:12px;
	padding:15px;
	overflow:auto;
	overflow-x: hidden;
}
.msg_input{
	width:100%;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

.close{
	float:right;
	cursor:pointer;
}

.minimize{
	float:right;
	cursor:pointer;
	padding-right:5px;
	
}

.user{
	position:relative;
	padding:10px 30px;
}
.user:hover{
	background:#f8f8f8;
	cursor:pointer;

}
.user:before{
	content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:15px;
	border-radius:6px;
}

.msg_a{
	position:relative;
	background:#FDE4CE;
	padding:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	border-radius:5px;
}
.msg_a:before{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #FDE4CE transparent transparent;
	left:-20px;
	top:7px;
}


.msg_b{
	background:#EEF2E7;
	padding:10px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
	word-wrap: break-word;
}
.msg_b:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent transparent transparent #EEF2E7;
	right:-20px;
	top:7px;
}